* {
  padding: 0px;
  margin: 0px;
}
header {
  padding: 5px 10px;
}
#nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}
#nav li {
  padding: 8px 10px;
}
#nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
#nav a:hover {
  text-decoration: underline;
}
#apps-logo {
  width: 20px;
  padding: 10px;
}
#all-apps:hover {
  background-color: #dadce0;
  border-radius: 50%;
}
#profile-logo {
  width: 35px;
}
main {
  text-align: center;
  height: 79vh;
}
#srch-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #dadce0 solid;
  border-radius: 40px;
  width: fit-content;
  margin: auto;
  padding: 4px 15px;
  flex-shrink: 2;
}
#srch {
  width: 45vw;
  outline: none;
  border: none;
  font-size: 1rem;
}
#srch-bar img {
  width: 18px;
  padding: 0px 5px;
}
#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-shrink: 2;
}
.srch-btns {
  padding: 10px;
  margin: 30px 5px;
  width: 150px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #f2f2f2;
}
.srch-btns:hover {
  box-shadow: 0px 0px 2px #707070;
}

#xtra-langs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
#xtra-langs ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}
#xtra-langs li {
  padding: 5px 10px;
}
#xtra-langs a {
  text-decoration: none;
}
footer {
  background-color: #f2f2f2;
}
#footer1 {
  padding: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px #dadce0 solid;
}
#footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
#footer2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#footer2 li {
  padding: 10px;
}
#footer2 li:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 700px) {
  #xtra-langs {
    display: none;
  }
  #footer2 {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
}
