* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100vh;
}
header {
  padding: 5px 10px;
}
#nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}
#nav li {
  padding: 5px 10px;
}
#nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
#nav a:hover {
  text-decoration: underline;
}
#profile-logo {
  width: 35px;
}
main {
  text-align: center;
  height: 79vh;
}
#srch {
  padding: 5px;
}
#srch:hover {
  box-shadow: 0px 0px 2px #f2f2f2;
}
.srch-btns {
  padding: 5px;
  margin: 4px 30px;
}

#srch-box {
  padding: 20px;
}
#xtra-langs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
#xtra-langs ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
#xtra-langs li {
  padding: 5px 10px;
}
#xtra-langs a {
  text-decoration: none;
}
footer {
  background-color: #f2f2f2;
}
#footer1 {
  padding: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px #dadce0 solid;
}
#footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
#footer2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#footer2 li {
  padding: 10px;
}
#footer2 li:hover {
  text-decoration: underline;
  cursor: pointer;
}
